/* CSS RESET */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Inter', sans-serif;
}

:root{
    /* Colors */
    --primary:#5471BF;
    --button: #57B6B8;
    --secondary: #398d8f; /*hover*/
    --font-color: #5E5E5E;
}
/* HEADER */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    border-bottom: #c7c7c7 1px solid;
}

.header img{
    width: 0 auto;
    height: 52px;
    margin-left: 5%;
}

.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    display: none;
}

.navbar li{
    font-weight: bold;
    margin: 10px;
    color: var(--font-color);
}

.navbar li button{
    font-weight: bold;
    margin: 10px;
    color: white;
    background-color: var(--button);
    border: none;
    padding: 6px 25px;
    border-radius: 15px;
}

.navMobile{
    list-style: none;
    display: flex;
    margin-right: 10%;
    align-items: center;
}

.navMobile button{
    background-color: var(--button);
    color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    transition: 0.5s;
}

.navMobile button:hover{
    background-color: var(--secondary);
}
/* /HEADER */
/* BODY */
/**CONTAINER 1**/
#container_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 490px;
    background-image:linear-gradient(to right,var(--primary),transparent);

}
#container_1 h1{
    color: #fff;
}
#container_1 p{
    color: #ffff;
}
#container_1 button{
    width: 15em;
    padding: 0.5em;
    background-color: var(--button);
    border: none;
    color: #ffffff;
    font-weight: 500;
    border-radius: 1em;
    margin-top: 1em;
}

#descricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:initial;
    width: 60%;
    height: 100%;
    text-align: left;
    margin-left: 0.7em;
}

#descricao h1, #descrição p{
    margin-bottom: 0.7em;
}
/** /CONTAINER 1 **/
#container_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 490px;
}

#container_2 h1{
    margin-top: 2em;
    color: #424242;
}

#card_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card h2{
    margin-top: 0.9em;
}
.card button{
    border: none;
    width: 15em;
    height: 15em;
    padding: 3em;
    color: #ffffff;
    border-radius: 2em;
    background-color: var(--primary);
    transition: 0.5s;
}
.card button:hover{
    background-color: var(--secondary);
    transform: scale(1.1);
}

@media only screen and (min-width: 768px){
    .header{
        justify-content: space-between;
    }
    .navbar{
        display: flex;
    }
    .navMobile{
        display: none;
    }
}